canvas {
    border: 0px solid #000000;
}

#wrapper {
    text-align: center;
}

#configBlock {
    margin-bottom: 10px;
}

#frametimeBlock {
    margin-top: 10px;
    margin-bottom: 10px;
}

#buttonBlock {
    margin-bottom: 10px;
}

#log {
    height: 400px;
    overflow: scroll;
    white-space:pre-wrap;
}


